table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
table {
 width: 100%;
 border-collapse: collapse;
}
table th {
    height: 30px;
    text-align: center; 
    background-color: #04aa6d; 
    font-size: 18px;
}

table td, 
table th {
  border: 1px solid black;
}

table tbody td {
 text-align: center;
}